[project]
	state = active
[access "refs/heads/*"]
	owner = group Administrators
	create = group Presto Maintainers
	push = +force group Presto Maintainers
	label-Code-Review = -2..+2 group Presto Maintainers
	label-Verified = -1..+1 group Presto Maintainers
	submit = group Presto Maintainers
	forgeAuthor = group Presto Maintainers
	forgeCommitter = group Presto Maintainers
	pushMerge = group Presto Maintainers
